body {
  background: #f4f4f4 !important;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* General Styles */
.error {
  color: #f00;
  font-style: italic;
  font-size:  .875rem;
  text-align: left;
  margin-bottom: .625rem;
}

/* Login Page Styles */
.login-form {
  width: 18.75rem;
  margin: 6.25rem auto;
}

.login-form__title {
  color: #888;
}

/* Navbar Styles */
.dropdown-toggle:hover {
  cursor: pointer;
}